
/* X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */

body {
    font-family: 'Poppins', sans-serif !important;
    background: #ECF0F3 !important;
}

section {
    height: 100vh !important;
}

.form_box {
    width: 435px;
    height: 550px;
    border-radius: 15px;
    box-shadow: -6px -6px 6px rgb(255 255 255 / 80%),
        6px 6px 6px rgb(0 0 0 / 20%);
}

.form_box img {
    width: 100px;
}

.form_box p {
    color: #353b48;
}

.sPass {
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
}

.inputWidth {
    position: relative;
    margin-bottom: 40px;
}

.inputWidth .FiconL,
.FiconR {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.inputWidth .FiconL {
    left: 14%;
}

.inputWidth .FiconR {
    visibility: hidden;
    right: 14%;
}

.inputWidth input[type='text'],
input[type='email'],
input[type='password'],
input[type='submit'] {
    width: 80%;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 13px 50px 13px;
    box-shadow: inset -6px -6px 6px rgba(255, 255, 255, 0.8),
                inset 6px 6px 6px rgba(0, 0, 0, 0.2);
}

input[type='submit'] {
    color: #353b48;
    line-height: 20pt;
    font-size: 20px;
    background: #26de81;
    box-shadow: 0px 0px 5px 0px;
}
input[type='submit']:active {
    background: #33cc7f;
}